@import "tailwindcss";
@import "tw-animate-css";

  @tailwind utilities;
  @theme {
    --color-primary: #edf7eb;
    --color-primary-dark: #161a16;
    --color-secondary: #000000;
    --color-secondary-dark: #ffffff;
    --font-poppins: "Poppins", sans-serif;
  }

  @layer base {
    html,
    body,
    #root {
      height: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-poppins);
      letter-spacing: -0.03em;
    }
    body {
      @apply antialiased bg-black text-white font-poppins;
    }    

  }